<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace命名空间，为了对sql语句进行隔离，方便管理，mapper开发dao方式，使用namespace有特殊作用  
mapper代理开发时将namespace指定为mapper接口的全限定名  
 -->
<mapper namespace="com.chengxusheji.mapper.ExpendMapper"> 
<!--在mapper.xml文件中配置很多的sql语句，执行每个sql语句时，封装为MappedStatement对象 
mapper.xml以statement为单位管理sql语句  
 -->
	<!-- 添加支出记录 -->
	<insert id="addExpend" parameterType="expend">
		insert into t_expend(exprendTypeObj,expendPurpose,payWayObj,payAccount,expendMoney,expendDate,userObj,expendMemo) values 
		(#{exprendTypeObj.expendTypeId},#{expendPurpose},#{payWayObj.payWayId},#{payAccount},#{expendMoney},#{expendDate},#{userObj.user_name},#{expendMemo})
	</insert>

	<!-- 按照查询条件分页查询支出记录 -->
	<select id="queryExpend" resultMap="expendMap" >
		select t_expend.* from t_expend,t_expendType,t_payWay,t_userInfo ${where} and t_expend.exprendTypeObj = t_expendType.expendTypeId and t_expend.payWayObj = t_payWay.payWayId and t_expend.userObj = t_userInfo.user_name limit #{startIndex},#{pageSize}
	</select>
	<resultMap id="expendMap" type="expend">
        <id property="expendId" column="expendId" />
        <association property="exprendTypeObj" column="exprendTypeObj" select="com.chengxusheji.mapper.ExpendTypeMapper.getExpendType" />
        <association property="payWayObj" column="payWayObj" select="com.chengxusheji.mapper.PayWayMapper.getPayWay" />
        <association property="userObj" column="userObj" select="com.chengxusheji.mapper.UserInfoMapper.getUserInfo" />
    </resultMap>

    <!-- 按照查询条件查询所有支出记录 -->
	<select id="queryExpendList" resultMap="expendMap" >
		select t_expend.* from t_expend,t_expendType,t_payWay,t_userInfo ${where} and t_expend.exprendTypeObj = t_expendType.expendTypeId and t_expend.payWayObj = t_payWay.payWayId and t_expend.userObj = t_userInfo.user_name
	</select>

    <!-- 按照查询条件的支出记录数 -->
	<select id="queryExpendCount" resultType="int">
		select count(*) from t_expend,t_expendType,t_payWay,t_userInfo ${where} and t_expend.exprendTypeObj = t_expendType.expendTypeId and t_expend.payWayObj = t_payWay.payWayId and t_expend.userObj = t_userInfo.user_name
	</select>

	<!-- 根据主键查询某个支出记录 -->
	<select id="getExpend" parameterType="int" resultMap="expendMap">
		select * from t_expend where t_expend.expendId = #{expendId}
	</select>

	<!-- 更新支出记录 -->
	<update id="updateExpend" parameterType="expend">
		update t_expend set exprendTypeObj=#{exprendTypeObj.expendTypeId},expendPurpose=#{expendPurpose},payWayObj=#{payWayObj.payWayId},payAccount=#{payAccount},expendMoney=#{expendMoney},expendDate=#{expendDate},userObj=#{userObj.user_name},expendMemo=#{expendMemo} where expendId = #{expendId}
	</update>

	<!-- 删除支出记录 -->
	<delete id="deleteExpend" parameterType="int">
		delete from t_expend where expendId=#{expendId}
	</delete>

</mapper>
